.error-message {
	/* This makes the error message component take up the full height even when empty */

	&[aria-hidden='true']::before {
		content: 'W';
		opacity: 0;
	}
}

widget error {
	display: block;
	margin: 2rem auto;
	padding: 1rem 1rem 1rem 4rem;
	max-width: 90%;
	min-width: 80vw;
	text-align: left;
	line-height: 1.5;
	background: var(--primary-red);
	border: 2px solid var(--secondary-red);
	border-radius: 3px;
	animation: fadeIn 0.5s ease-in 1s 1 normal both;

	& > span:first-of-type {
		position: relative;

		&::before {
			position: absolute;
			left: -3.25rem;
			top: -0.75rem;
			display: block;
			content: '\f101';
			font-family: 'icomoon', serif;
			font-style: normal;
			font-size: 3rem;
			font-weight: normal;
			font-variant: normal;
			vertical-align: middle;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			text-decoration: none;
		}
	}

	/* used by mobile */
	&:global(.unsupported-content) {
		background: var(--panel-background);
		border-color: var(--border-grey);
	}
}
