@import '../../../system/css/rules/border.module.css';
@import '../../../system/css/rules/color.module.css';
@import '../../../system/css/rules/spacing.module.css';

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.no-options {
	pointer-events: none;
}

.menu > li {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	color: var(--color-foreground-dark);
	cursor: pointer;

	&:focus {
		box-shadow: inset 0 0 0 1px var(--focus-border-color);
	}

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--border-grey-light);
	}

	& .check {
		color: var(--color-brand-main);
		font-size: 1rem;
		position: absolute;
		left: calc((var(--padding-xl) / 2) - 0.5em);
	}

	&.selected {
		background-color: var(--color-selected-background);
	}
}
